@import '../../App.scss';

nav {
    height: 100px;
    background-color: transparent;
    color: black;
}

.wrapper {
    max-height: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    @include mobile {
        justify-content: flex-end;
        padding: 20px;
    }
}
span {
    font-weight: bold;
    font-size: 30px;

    @include mobile {
        display: none;

    }
}

.social {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
    padding: 3px 10px;

    a {
        color: black;
        
        .items {
            flex: 1;
            height: 24px;
            width: 24px;
        }
    }
}