@import '../../App.scss';

.resume {
    background: linear-gradient(180deg, #15152b, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;

    // Adjustments for mobile devices
    @include mobile {
        padding: 20px; // Increase padding for better spacing
    }

    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        gap: 20px;
        align-items: center;

        // Adjustments for mobile devices
        @include mobile {
            align-self: center;
            text-align: center;
            flex-direction: column;
            padding: 10px; // Add padding for better spacing
        }

        p {
            font-weight: 200;
            font-size: 4vw; // Fluid font size
            color: gray;
            text-align: right;
        }

        hr {
            width: 90%; // Adjust width for mobile
            border: none;
            border-top: 0.5px solid gray;
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        // Adjustments for mobile devices
        @include mobile {
            width: 100%;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 20px;

            // Adjustments for mobile devices
            @include mobile {
                flex-direction: column;
                text-align: center;
                gap: 10px;
            }

            img {
                width: 100px; // Adjust size for mobile
                height: 100px; // Adjust size for mobile
                border-radius: 50px;
                object-fit: cover;

                @include mobile {
                    display: none;
                }
            }

            h1 {
                font-size: 8vw; // Fluid font size
                font-weight: 100;

                @include mobile {
                    font-size: 6vw; // Fluid font size
                }
            }

            button {
                width: 80%; // Adjust width for mobile
                height: 60px; // Adjust height for mobile
                border-radius: 30px;
                font-size: 3vw; // Fluid font size

                @include mobile {
                    width: 100%; // Full width for mobile
                }
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        // Adjustments for mobile devices
        @include mobile {
            flex-direction: column;
        }

        .box {
            width: calc(50% - 20px); // Two boxes per row for mobile
            height: 400px;
            background-color: transparent;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 0.5px solid white;
            gap: 20px;

            // Adjustments for mobile devices
            @include mobile {
                width: 100%; // Full width for mobile
                height: auto; // Auto height for mobile
                padding: 10px; // Adjust padding for mobile
            }

            h2 {
                font-size: 5vw; // Fluid font size

                @include mobile {
                    font-size: 4vw; // Fluid font size
                }
            }

            .certs {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                img {
                    width: 40px; // Adjust size for mobile
                    height: 40px; // Adjust size for mobile
                }
            }

            ul {
                list-style: none;
                font-size: 3vw; // Fluid font size

                @include mobile {
                    font-size: 2vw; // Fluid font size
                }
            }
        }
    }
}
