.resume {
    background: linear-gradient(180deg, #15152b, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;

    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        gap: 20px;
        align-items: center;

        p {
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover
            }

            h1{
                font-size: 96px;
                font-weight: 100;
            }

            button{
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                border: 1px solid white;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;
        padding: auto;
        justify-content: center;
        font-size: px;
        
        .box {
            width: 500px;
            height: 400px;
            background-color: transparent;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 0.5px solid white;
            gap: 20px;

            h2 {
                font-size: 40px;
                align-self: center;
            }

            .certs {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 100%;

                
                img {
                    height: 100px;
                    width: 100px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                height: 100%;
                width: 100%;
                font-size: 36px;
            }


        }
    }
}